<div class="widget-sidebar">
    <h5 class="sidebar-title">Recent Posts</h5>
    <div class="sidebar-content">
      <ul class="list-sidebar">
        <li>
          <a href="#">Atque placeat maiores.</a>
        </li>
        <li>
          <a href="#">Lorem ipsum dolor sit amet consectetur</a>
        </li>
        <li>
          <a href="#">Nam quo autem exercitationem.</a>
        </li>
        <li>
          <a href="#">Atque placeat maiores nam quo autem</a>
        </li>
        <li>
          <a href="#">Nam quo autem exercitationem.</a>
        </li>
      </ul>
    </div>
  </div>