{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

<!-- <title>  -->
{% block title %} {{work.title}} {% endblock %}
<!-- <extra css>-->
{% block extra_css %}{% endblock %}

<!-- <body> -->



{% block content %}
  <div class="hero hero-single route bg-image" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4">Portfolio Details</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="{% url 'website:index' %}#home">Home</a>
            </li>
            <li class="breadcrumb-item active">Portfolio Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                {% thumbnail work.image1 "1200x695" crop="center" as im %}
                <div class="swiper-slide">
                  <img src="{{ im.url }}" max-width="{{im.width}}"
                  max-height="{{im.height}}" alt="">
                </div>
                {% endthumbnail %}
                
                {% if work.image2 %}
                {% thumbnail work.image2 "1200x695" crop="center" as im %}
                <div class="swiper-slide">
                  <img src="{{ im.url }}" max-width="{{im.width}}"
                  max-height="{{im.height}}" alt="">
                </div>
                {% endthumbnail %}
                
                  {% if work.image3 %}
                  {% thumbnail work.image3 "1200x695" crop="center" as im %}
                <div class="swiper-slide">
                  <img src="{{ im.url }}" max-width="{{im.width}}"
                  max-height="{{im.height}}" alt="">
                </div>
                {% endthumbnail %}
                  {% endif %}
                {% endif %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{work.category}}</li>
                <li><strong>Client</strong>: {{work.client}}</li>
                <li><strong>Project date</strong>: {{work.created_date|date:"d F Y"}}</li>
                <li><strong>Project URL</strong>: <a href="{{work.project_url}}">{{work.project_url}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{work.title}}</h2>
              <p>
                {{work.description|safe}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}
  <!-- </body> -->
  
  <!-- <extra js>-->
  {% block extra_js %}{% endblock %}