{% load static %}

<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{% static 'img/pic_profile2.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Mohamad javad Zare</span></p>
                      <p><span class="title-s">Profile: </span> <span>Backend Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>mjz589.2018@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>+98 901 302 3089</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  {% for skill in skills %}
                  <span>{{skill.name}}</span> <span class="pull-right">{{skill.percentage}}%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{skill.percentage}}%;" aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I've been learning python since 2022.
                    As of now, I'm a Computer Science student in Bojnourd university.
                    My English language skills except for speaking are pretty good.
                    I've been learning Django and REST framework for Back-end Web Development.
                    I've also learned about Web Scraping and a little bit Machine Learning in Python.
                  </p>
                  <p class="lead">
                    My object is obvious! Becoming the best person in my own business.
                  </p>
                  <p class="lead">
                    I have dreams that must be granted by my own self.<br>
                    -BLUE-
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>