{% load static %}

<div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    <img src="{% static 'img/avatar_profile.jpg' %}" alt="" class="rounded-circle b-shadow-a">
                    <span class="author">Mohamad Javad Zare</span>
                  </div>
                  <div class="content-test">
                    <p class="description lead">
                      My object is obvious! Becoming the best person in my own business.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    <img src="{% static 'img/pic_profile5.jpg' %}" alt="" class="rounded-circle b-shadow-a">
                    <span class="author">Mikey</span>
                  </div>
                  <div class="content-test">
                    <p class="description lead">
                      If my name is hard for you to spell, then call me by my nickname.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
        
      </div> -->
        </div>
      </div>
    </div>
  </div>